:host {
    width: 100%;
    height: auto;
    display: block;
}

.header {
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    &-large {
        justify-content: space-between;
    }
}

.mask {
    height: auto;
    overflow: hidden;
    transition: 0.3s ease all;
    &_sub {
        max-height: 75vh;
        overflow: auto;
    }
}

.burger {
    width: 2rem;
    height: 1rem;
    padding: 0px;
    border: none;
    background: transparent;
    div {
        width: 100%;
        height: calc(100% / 5);
        background: currentColor;
        border-radius: 100px;
        &:nth-child(2) {
            margin: calc(100% / 7) 0px;
        }
    }
}

.hr {
    width: 100%;
    height: 1px;
    border: none;
    margin: 0px;
    > div {
        width: 50px;
        height: 100%;
    }
}
