@import "https://raw.githubusercontent.com/PrismJS/prism-themes/master/themes/prism-nord.css";
@import "https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap";

:root {
    --doc_bgcolor: #eff9f4;
    --doc_bgcolorLight: white;
    --doc_bgcolorBlack: black;
    --doc_brcolor: #eaeeed;
    --doc_brcolorDark: #c5d2d1;
    --doc_linkColor: cadetblue;
    --doc_color: #2b2b2b; /* #ccdeda */
    --doc_codeColor: #eff9f4;
    --doc_codeInlineColor: black;
    --doc_quoteColor: #707070;
    --doc_codeBgcolor: #2b2b2b;
    --doc_codeInlineBgcolor: white;
    --doc_boxMaxwidth: 920px;
    --doc_tableBgcolor: white;
    --doc_fontSemibold: 600;
    --doc_fontRegular: 400;
    --doc_boxRadio: 0.9rem;
    --doc_shadowDeep1: 0px 12px 22px rgba(0, 0, 0, 0.05);
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
}

main {
    width: 100%;
}

body {
    background: var(--doc_bgcolor);
    color: var(--doc_color);
    font-family: "Poppins", sans-serif;
}

doc-menu {
    visibility: hidden;
    box-shadow: var(--doc_shadowDeep1);
    @media (max-width: 920px) {
        doc-list-links[slot="footer"] {
            padding-right: 0px;
        }
    }
    &[current-type="large"] {
        position: fixed;
        left: px;
        left: 5%;
        width: 90%;
        z-index: 10;
        top: 20px;
    }
}

.o-doc {
    display: flex;
    flex-flow: row wrap;
    min-height: 100%;
    &_content {
        width: 100%;
        height: auto;
        display: flex;
        padding: 30px;
        box-sizing: border-box;
        @media (max-width: 920px) {
            flex-flow: row wrap;
        }
        @media (max-width: 420px) {
            padding: 20px;
        }
    }
    &_aside {
        width: 200px;
        margin-left: auto;
        position: relative;
        left: -100px;
        margin-right: -100px;
        @media (max-width: 1466px) {
            left: 0px;
            margin-right: 0px;
        }
        @media (max-width: 920px) {
            width: 100%;
        }
    }
    &_topic {
        width: 250px;
        margin-right: auto;
        @media (max-width: 920px) {
            display: none;
        }
    }
    &_inner {
        padding: 3.75rem 4.7rem;
        box-sizing: border-box;
        max-width: var(--doc_boxMaxwidth);
        line-height: 1.75em;
        flex: 0%;
        @media (max-width: 920px) {
            padding: 3.75rem 10%;
            max-width: 100%;
        }
        @media (max-width: 720px) {
            padding: 8rem 0% 3.75rem;
        }
    }
    &_title {
        font-size: 2.25rem;
        margin: 0px;
        line-height: 1.2em;
    }
    &_header {
        max-width: 75%;
        margin-bottom: 2rem;
        @media (max-width: 520px) {
            max-width: 100%;
        }
    }
    &_subtitle {
        font-size: 1.25rem;
        margin: 1rem 0px;
        line-height: 1.2em;
    }
    &_pagination {
        background: var(--doc_bgcolorLight);
    }
    &_paginationMax {
        display: flex;
        flex-flow: row wrap;
        margin: auto;
        max-width: calc(var(--doc_boxMaxwidth) - 2rem);
        doc-next-page {
            padding: 2rem;
            box-sizing: border-box;
            flex: 0%;
            max-width: 50%;
            min-width: 200px;
            &:first-child[direction="next"] {
                margin-left: 50%;
            }
            @media (max-width: 520px) {
                max-width: 100%;
                padding: 2rem 1rem;
                &[direction="prev"] {
                    padding-right: 2.5rem;
                }
                &[direction="next"] {
                    padding-left: 2.5rem;
                }
            }
        }
    }
    &_footer {
        width: 100%;
        margin-top: auto;
    }
    &_footerEnd {
        text-align: center;
        padding: 2rem;
        box-sizing: border-box;
        background: var(--doc_bgcolorBlack);
    }
    &_menuFooter {
        width: 100%;
        display: flex;
        padding: 0px 10px;
        box-sizing: border-box;
        align-items: center;
        > * {
            margin: 10px;
        }
        select {
            flex: 0%;
            padding: 0.1em;
            border-radius: 100px;
            border: 1px solid var(--doc_brcolorDark);
            background: transparent;
        }
    }
    &_md {
        a {
            font-weight: bold;
            color: var(--doc_linkColor);
        }
        .markdown-table-container {
            overflow-x: auto;
            padding: 1rem 1.5rem;
            background: var(--doc_tableBgcolor);
            border-radius: var(--doc_boxRadio);
            table {
                border-spacing: 0px;
                width: 100%;
                text-align: left;
                td,
                th {
                    font-size: 0.9em;
                    padding: 5px;
                }
                td {
                    border-top: 1px solid rgba(0, 0, 0, 0.1);
                }
            }
        }

        code {
            font-weight: bold;
            padding: 0rem 0.5rem;
            display: inline-block;
            line-height: 1.8em;
            position: relative;
            top: -0.1em;
            margin: -1em 0px;
            border-radius: var(--doc_boxRadio);
            background: var(--doc_codeInlineBgcolor);
            color: var(--doc_codeInlineColor);
        }
        blockquote {
            margin: 1rem 0px;
            font-size: 1.2rem;
            font-weight: var(--doc_fontSemibold);
            color: var(--doc_quoteColor);
            strong {
                color: var(--doc_color);
            }
            code {
                font-weight: var(--doc_fontRegular);
            }
        }
        .markdown-code-container {
            padding: 1rem 1.5rem;
            border-radius: var(--doc_boxRadio);
            box-shadow: var(--doc_shadowDeep1);
            margin: 2rem 0px;
            overflow-x: auto;
            color: var(--doc_codeColor);
            background: var(--doc_codeBgcolor);

            code {
                margin: 0px;
                padding: 0px;
                line-height: none;
                font-family: monospace;
                background: transparent;
                color: unset;
            }
        }
        iframe {
            width: 100%;
            height: 500px;
            border-radius: var(--doc_boxRadio);
            box-shadow: var(--doc_shadowDeep1);
            border: none;
        }
        img,
        iframe,
        video {
            max-width: 100%;
        }
        p,
        h1,
        h2,
        h3,
        h4,
        h5 {
            + .markdown-code-container {
                margin-top: 0px;
            }
        }

        li {
            margin-bottom: 0.5em;
        }
    }
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: lightsteelblue;
}
