.gist {
  width: 100%;
  display: block;
  background: var(
    --gist_bg,
    linear-gradient(145deg, rgb(164, 249, 221, 0.1), transparent)
  );
  overflow: hidden;
  border-radius: var(--gist-rds, 1rem);
  box-shadow: var(--gist-bxsh, 0px 0px 2.5rem rgba(0, 0, 0, 0.15));
}

.gist .blob-num:before {
  content: attr(data-line-number);
  display: block;
  padding-right: 1em;
}

.gist table {
  width: 100%;
}

.gist-file {
  width: 100%;
  overflow-x: auto;
  font-size: 1rem;
  font-family: monospace;
  padding: 1rem;
}

.gist-header {
  height: 2.5rem;
  background: var(
    --gist_header-bg,
    linear-gradient(to right, rgba(255, 255, 255, 0.1), transparent)
  );
  display: flex;
  max-width: 100%;
  overflow: auto hidden;
}

.gist-header_button {
  padding: 0.625rem 0.9376rem;
  background: transparent;
  color: unset;
  border: none;
  font-weight: bold;
  opacity: 0.5;
  cursor: pointer;
  transition: 0.3s ease all;
  font-size: 0.8125rem;
}

.gist-header_button-active {
  opacity: 1;
}
