:host {
    width: 100%;
    height: auto;
    display: block;
    padding: 1.25rem;
    box-sizing: border-box;
}

:host([inline]) {
    width: auto;
    padding: 0.9rem 1.25rem;
}

:host([inline]),
.content-inline {
    display: inline-flex;
    align-items: center;
    flex-flow: row wrap;
}

slot[name] {
    display: inline-flex;
    align-items: center;
    padding: 0px 0.25rem;
}
